body {
    background-color: cornsilk;
}

header {
    background-color: rgb(107, 224, 224);
    
}

h1 {
    text-align: center;
    font: bold 20pt Arial;
}

.esquerda {
    width: 200px;
    height: 200px;
    background-color: black;
}

