body {
    background-color: pink;
}

h1 {
    text-align: center;
    font: normal 25pt Arial;
    
}


#quadrado1 {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    
    
}

#circulo1 {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 1131px;
    bottom: 698px;
    
    
}

#quadrado2 {
    width: 100px;
    height: 100px;
    background-color: rgb(20, 166, 185);
    border-radius: 10px;
    margin: auto;   
    margin-top: 300px;         
    
}


#circulo2 {
    width: 100px;
    height: 100px;
    background-color: rgb(214, 57, 154);
    border-radius: 10px;
    position: absolute;
    right: 1130px;
    bottom: 698px;
    
}

#quadrado5 {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    border-radius:10px;
    position: absolute;
    left: 1031px;
    bottom: 698px;
    
}

#quadrado6 {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 10px;
    position: absolute;
    left: 931px;
    bottom: 698px;
}

#quadrado7 {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;
    left: 831px;
    bottom: 698px;
}

#quadrado8 {
    width: 100px;
    height: 100px;
    background-color: rgb(203, 169, 231);
    border-radius: 10px;
    position: absolute;
    right:1031px;
    bottom: 698px;
}

#quadrado9 {
    width: 100px;
    height: 100px;
    background-color: rgb(19, 73, 69);
    border-radius: 10px;
    position: absolute;
    right:931px;
    bottom: 698px;
}

#esquerda1 {
    width: 100px;
    height: 100px;
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
    position: absolute;
    left: 831px;
    bottom: 600px;
}

#esquerda2 {
    width: 100px;
    height: 100px;
    background-color: rgb(199, 33, 33);
    border-radius: 10px;
    position: absolute;
    left: 831px;
    bottom: 500px;
}

#esquerda3 {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 236, 19);
    border-radius: 10px;
    position: absolute;
    left: 831px;
    bottom: 400px;
}

#esquerda4 {
    width: 100px;
    height: 100px;
    background-color: rgb(146, 114, 24);
    border-radius: 10px;
    position: absolute;
    left: 831px;
    bottom: 300px;
}

#esquerda5 {
    width: 100px;
    height: 100px;
    background-color: rgb(247, 18, 106);
    border-radius: 10px;
    position: absolute;
    left: 831px;
    bottom: 200px;
}

#queixoesquer1 {
    width: 100px;
    height: 100px;
    background-color: rgb(19, 18, 18);
    border-radius: 10px;
    position: absolute;
    left: 870px;
    bottom: 100px;
}
