body {
    background-color: black;
}

h1 {
    text-align: center;
    font: normal 25pt Arial;
    
}


#quadrado1 {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 37, 212);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    
    
}

#circulo1 {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 37, 212);
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 1125px;
    bottom: 755px;
    
    
}

#quadrado2 {   
    width: 100px;
    height: 100px;
    background-color: rgb(207, 37, 212);; 
    border-radius: 10px;
    margin: auto;   
    margin-top: 300px;         
    
}


#circulo2 {
    width: 100px;
    height: 100px;
    background-color:rgb(207, 37, 212); 
    border-radius: 10px;
    position: absolute;
    right: 1125px;
    bottom: 755px;
    
}

#quadrado5 {
    width: 100px;
    height: 100px;
    background-color:rgb(207, 37, 212);
    border-radius:10px;
    position: absolute;
    left: 1020px;
    bottom: 755px;
    
}

#quadrado6 {
    width: 100px;
    height: 100px;
    background-color:rgb(207, 37, 212);;
    border-radius: 10px;
    position: absolute;
    left: 915px;
    bottom: 755px;
}

#quadrado7 {
    width: 100px;
    height: 100px;
    background-color:rgb(207, 37, 212);
    border-radius: 10px;
    position: absolute;
    left: 810px;
    bottom:755px;
}

#quadrado8 {
    width: 100px;
    height: 100px;
    background-color:rgb(207, 37, 212);
    border-radius: 10px;
    position: absolute;
    right:1020px;
    bottom: 755px;
}

#quadrado9 {
    width: 100px;
    height: 100px;
    background-color:rgb(207, 37, 212);
    border-radius: 10px;
    position: absolute;
    right:914px;
    bottom: 755px;
}

#esquerda1 {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 37, 212);
    border-radius: 10px;
    position: absolute;
    left: 810px;
    bottom: 650px;
}

#esquerda2 {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 37, 212);
    border-radius: 10px;
    position: absolute;
    left: 810px;
    bottom: 545px;
}

#esquerda3 {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 37, 212);
    border-radius: 10px;
    position: absolute;
    left: 810px;
    bottom: 440px;
}

#esquerda4 {
    width: 100px;
    height: 100px;
    background-color: rgb(207, 37, 212);
    border-radius: 10px;
    position: absolute;
    left: 850px;
    bottom: 335px;
}

#esquerda5 {
    width: 100px;
    height: 100px;
    background-color: rgb(247, 18, 106);
    border-radius: 10px;
    position: absolute;
    left: 910px;
    bottom: 230px;
}

#queixoesquer1 {
    width: 100px;
    height: 100px;
    background-color: rgb(84, 65, 194);
    border-radius: 10px;
    position: absolute;
    left: 1015px;
    bottom: 155px;
}

#queixoesquer2 {
    width: 100px;
    height: 100px;
    background-color: rgb(247, 12, 12);
    border-radius: 10px;
    position: absolute;
    left: 1122px;
    bottom: 90px;
}

#queixoponta {
    width: 100px;
    height: 100px;
    background-color: rgb(12, 247, 90);
    border-radius: 10px;
    position: absolute;
    left: 1227px;
    bottom: 10px;
}
